:root {
  --color-light-grey: #f1f1f1;
  --color-green: #37af65;
}

* {
  box-sizing: border-box;
}

.container {
  width: min(100% - 15px, 700px);
  margin-inline: auto;
  margin-block: 4vh;
}

code {
  padding: 0.15em 0.5em;
  border-radius: 4px;
  background-color: var(--color-light-grey);
  color: var(--color-green);
  font-weight: bold;
}

a:link, a:visited { 
  text-decoration: none;
  color: var(--color-green);
  font-weight: bold;
}

/* ---- Header Styles with its elements ---- */

header {
  margin-block: 4vh;
}

header, header > * {
  margin-inline: auto;
  width: fit-content;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  font-weight: bold;
  margin-top: 0.5rem;
}

/* ---- H2 Element Styles ---- */
h2 {
  margin: 4rem 0 1.8rem;
  border-top: 1px solid var(--color-light-grey);
  padding-top: 1.8rem;
  font-size: 24px;
  letter-spacing: -.02em;
}